<div style="padding:30px 30px 0px 30px;">

  <div class="resume_build_sec_m1">
    <div class="resume_build_2l">
      <div>

        <div>
          <% if(profileImageInfo[0]) { %>
            <img src="../../../../images/resume_preview_img.jpg" class="resume_img center-block">
            <%}%>
        </div>
        <div class="resume_build_names2">
          <%= candidateInfo[0].firstName %>
            <%= candidateInfo[0].lastName %>
        </div>
        <div class="resume_build_des2">
          <%= candidateInfo[0].designationName %>
        </div>

        <div>

          <div class="resume_2_sec"><img src="../../../../images/land_phone.png"></div>
          <div class="resume_2_sec">
            <%= candidateInfo[0].telephoneNumber %>
          </div>
          <div class="clearfix"></div>
          <div class="resume_2_sec"><img src="../../../../images/resume_phone.png"></div>
          <div class="resume_2_sec">
            <%= candidateInfo[0].phoneNumber %>
          </div>
          <div class="clearfix"></div>
          <div class="resume_2_sec"><img src="../../../../images/resume_mail.png"></div>
          <div class="resume_2_sec">
            <%= candidateInfo[0].email %>
          </div>

        </div>


        <div>
          <div class="resumesec_sub_head2">Basic Information</div>
          <div class="resume_sub2_sec">Current Address</div>
          <div class="resume_sub2_sec1">
            <%= candidateInfo[0].currentAddress1 %>
          </div>

          <div class="resume_sub2_sec">Permanent Address</div>
          <div class="resume_sub2_sec1">
            <%= candidateInfo[0].permanantAddress1 %>
          </div>

          <div class="resume_sub2_sec">DOB</div>
          <div class="resume_sub2_sec1">
            <%= candidateInfo[0].dob %>
          </div>

          <div class="resume_sub2_sec">Gender</div>
          <div class="resume_sub2_sec1">
            <%= candidateInfo[0].genderTitle %>
          </div>

          <div class="resume_sub2_sec">Country</div>
          <div class="resume_sub2_sec1">
            <%= candidateInfo[0].countryName %>
          </div>

        </div>



        <div>
          <div class="resumesec_sub_head2">Languages</div>
          <% for(var i=0; i < languageMapInfo.length; i +=1) { %>
            <div class="resume_sub_languages2">
              <%-languageMapInfo[i].languageName%>
            </div>

            <% } %>
              <div class="clearfix"></div>
        </div>

        <div>
          <div class="resumesec_sub_head2">Social</div>
          <% if(socialAccountsInfo[0].google!=undefined && socialAccountsInfo[0].google) { %>
            <div class="resume_sub_sec2"><img src="../../../../images/google.png" width="20px"></div>
            <div class="resume_sub2_sec3">
              <%-socialAccountsInfo[0].google%>
            </div>
            <div class="clearfix"></div>
            <% } %>
              <% if(socialAccountsInfo[0].facebooks!=undefined && socialAccountsInfo[0].facebooks) { %>
                <div class="resume_sub_sec2"><img src="../../../../images/resume_facebook.png" width="20px"></div>
                <div class="resume_sub2_sec3">
                  <%-socialAccountsInfo[0].facebooks%>
                </div>
                <div class="clearfix"></div>
                <% } %>

                  <% if(socialAccountsInfo[0].twitter!=undefined && socialAccountsInfo[0].twitter) { %>
                    <div class="resume_sub_sec2"><img src="../../../../images/resume_twitter.png" width="20px"></div>
                    <div class="resume_sub2_sec3">
                      <%-socialAccountsInfo[0].twitter%>
                    </div>
                    <div class="clearfix"></div>
                    <% } %>
                      <% if(socialAccountsInfo[0].linkedIn!=undefined && socialAccountsInfo[0].linkedIn) { %>
                        <div class="resume_sub_sec2"><img src="../../../../images/linkedin.png" width="20px"></div>
                        <div class="resume_sub2_sec3">
                          <%-socialAccountsInfo[0].linkedIn%>
                        </div>
                        <% } %>
        </div>
      </div>

    </div>


    <div class="resume_build_2r">
      <div class="resume_right_sec">
        <div class="resume_right_head2">Personal Summary</div>
        <div class="resume_right_con">
          <%=candidateInfo[0].profileSummary%>
        </div>

        <div class="resume_right_head2">Experience</div>


        <% for(var i=0; i < experienceInfo.length; i +=1) { %>
          <div class="resume_eyr2">
            <%-experienceInfo[i].fromDate%> - <% if(experienceInfo[i].currentlyWorkHereFlag==true) {%> Present
                <%} else {%>
                  <%-experienceInfo[i].toDate%>
                    <%}%> - <%-experienceInfo[i].jobRole%>
          </div>
          <div class="resume_exp2">
            <%-experienceInfo[i].employerName%>
          </div>
          <div class="resume_exp2">Responsibilities</div>
          <div class="resume_right_con2">
            <%-experienceInfo[i].responsibilities%>
          </div>
          <div class="resume_exp2">Achievements</div>
          <div class="resume_right_con2">
            <%-experienceInfo[i].achievements%>
          </div>
          <% } %>
            <div class="clearfix"></div>


            <div class="resume_right_head2">Education</div>

            <% for(var i=0; i < educationQualificationInfo.length; i +=1) { %>
              <div class="resume_eyr2">
                <%-moment(educationQualificationInfo[i].dateTo, "DD/MM/YYYY" ).year()%> -
                  <%-educationQualificationInfo[i].university%>
              </div>
              <div class="resume_exp2">
                <%-educationQualificationInfo[i].course%>
              </div>
              <div class="resume_right_con2">
              </div>

              <% } %>


                <div class="clearfix"></div>

                <div class="resume_right_head2">Skills</div>
                <% for(var i=0; i < skillsInfo.length; i +=1) { %>
                  <div class="resume_skills">
                    <%-skillsInfo[i].skillName%>
                  </div>
                  <% } %>
                    <div class="clearfix"></div>


                    <div class="resume_right_head2">Training</div>
                    <% for(var i=0; i < trainingInfo.length; i +=1) { %>
                      <div class="resume_skills">
                        <%-trainingInfo[i].trainingCertificate%>
                      </div>
                      <% } %>
                        <div class="clearfix"></div>

                        <div class="resume_right_head2">Declaration</div>
                        <div class="resume_right_con">I hereby declare that the information provided is true and
                          correct. I
                          also
                          understand that any willful dishonesty may render for refusal of this application.
                        </div>


                        <div class="resume_date">Date :<%= moment().format("DD/MM/YYYY")%>
                        </div>
                        <div class="resume_signature">Signature </div>



      </div>
    </div>


  </div>



  <div style="font-size:14px ;color:#222222; text-align: center;background:#fff;padding-bottom: 10px;">
    Designed with JIT Career's Resume Builder
  </div>

</div>