<div style="padding:30px 30px 0px 30px;">

  <div class="resume_build_sec_m3">
    <div class="resume_build_2r">
      <div class="resume_right_sec">

        <div class="resume3_img"><img src="../../../../images/resume_preview_img.jpg" class="resume_img center-block">
        </div>

        <div class="resume3_con">
          <div class="resume_build_names3">
            <%= candidateInfo[0].firstName %>
              <%= candidateInfo[0].lastName %>
          </div>
          <div class="resume_build_des3">
            <%= candidateInfo[0].designationName %>
          </div>

          <div>
            <div class="resume_sub3_icons"><img src="../../../../images/land_phone.png"></div>
            <div class="resume_sub_c_sec">
              <%= candidateInfo[0].telephoneNumber %>
            </div>
            <div class="clearfix"></div>
            <div class="resume_sub3_icons"><img src="../../../../images/resume_phone.png"></div>
            <div class="resume_sub_c_sec">
              <%= candidateInfo[0].phoneNumber %>
            </div>
            <div class="clearfix"></div>
            <div class="resume_sub3_icons"><img src="../../../../images/resume_mail.png"></div>
            <div class="resume_sub_c_sec">
              <%= candidateInfo[0].email %>
            </div>

          </div>
        </div>


        <div class="clearfix"></div>

        <div class="resume_right_head2"><img src="../../../../images/personal_icon.png">Personal Summary</div>
        <div class="resume_right_con pad_l_35">
          <%=candidateInfo[0].profileSummary%>
        </div>

        <div class="resume_right_head2"><img src="../../../../images/expeiance_icon.png"> Experience</div>
        <% for(var i=0; i < experienceInfo.length; i +=1) { %>
          <div class="resume_eyr3">
            <%-experienceInfo[i].fromDate%> - <% if(experienceInfo[i].currentlyWorkHereFlag==true) {%> Present
                <%} else {%>
                  <%-experienceInfo[i].toDate%>
                    <%}%> - <%-experienceInfo[i].jobRole%>
          </div>
          <div class="resume_exp3">
            <%-experienceInfo[i].employerName%>
          </div>
          <div class="resume_exp3">Responsibilities</div>
          <div class="resume_right_con3">
            <%-experienceInfo[i].responsibilities%>
          </div>
          <div class="resume_exp3">Achievements</div>
          <div class="resume_right_con3">
            <%-experienceInfo[i].achievements%>
          </div>
          <% } %>




            <div class="clearfix"></div>


            <div class="resume_right_head2"><img src="../../../../images/education_icon1.png"> Education</div>

            <% for(var i=0; i < educationQualificationInfo.length; i +=1) { %>
              <div class="resume_eyr3">
                <%-moment(educationQualificationInfo[i].dateTo, "DD/MM/YYYY" ).year()%> -
                  <%-educationQualificationInfo[i].university%>
              </div>
              <div class="resume_exp3">
                <%-educationQualificationInfo[i].course%>
              </div>
              <div class="resume_right_con3">
              </div>

              <% } %>

                <div class="clearfix"></div>

                <div class="resume_right_head2"><img src="../../../../images/skills_icon.png"> Skills</div>
                <div class="pad_l_35">
                  <% for(var i=0; i < skillsInfo.length; i +=1) { %>
                    <div class="resume_skills">
                      <%-skillsInfo[i].skillName%>
                    </div>
                    <% } %>
                      <div class="clearfix"></div>
                </div>

                <div class="resume_right_head2"><img src="../../../../images/training_icon1.png"> Training</div>
                <div class="pad_l_35">
                  <% for(var i=0; i < trainingInfo.length; i +=1) { %>
                    <div class="resume_skills">
                      <%-trainingInfo[i].trainingCertificate%>
                    </div>
                    <% } %>
                      <div class="clearfix"></div>
                </div>




                <div class="resume_right_head2"><img src="../../../../images/decleration_icon.png"> Declaration</div>
                <div class="resume_right_con3">I hereby declare that the information provided is true and correct. I
                  also
                  understand that any willful dishonesty may render for refusal of this application.
                </div>


                <div class="resume_date">Date :<%= moment().format("DD/MM/YYYY")%>
                </div>
                <div class="resume_signature">Signature </div>



      </div>
    </div>

    <div class="resume_build_3l" style="background-color:#f0f0f0;">
      <div>

        <div>
          <div class="resumesec_sub_head3"><img src="../../../../images/basic_information.png"> Basic Information</div>
          <div class="pad_l_35">
            <div class="resume_sub3_sec">Current Address</div>
            <div class="resume_sub3_sec1">
              <%= candidateInfo[0].currentAddress1 %>
            </div>

            <div class="resume_sub3_sec">Permanent Address</div>
            <div class="resume_sub3_sec1">
              <%= candidateInfo[0].permanantAddress1 %>
            </div>

            <div class="resume_sub3_sec">DOB</div>
            <div class="resume_sub3_sec1">
              <%= candidateInfo[0].dob %>
            </div>

            <div class="resume_sub3_sec">Gender</div>
            <div class="resume_sub3_sec1">
              <%= candidateInfo[0].genderTitle %>
            </div>

            <div class="resume_sub3_sec">Country</div>
            <div class="resume_sub3_sec1">
              <%= candidateInfo[0].countryName %>
            </div>
          </div>
        </div>



        <div>
          <div class="resumesec_sub_head3"><img src="../../../../images/languages_icon.png"> Languages</div>
          <div class="pad_l_35">
            <% for(var i=0; i < languageMapInfo.length; i +=1) { %>
              <div class="resume_sub_languages3">
                <%-languageMapInfo[i].languageName%>
              </div>

              <% } %>
          </div>

        </div>

        <div>
          <div class="resumesec_sub_head3"><img src="../../../../images/social_icon.png"> Social</div>
          <div class="pad_l_35">
            <% if(socialAccountsInfo[0].google!=undefined && socialAccountsInfo[0].google) { %>
              <div class="resume_sub_sec2"><img src="../../../../images/google.png" width="20px"></div>
              <div class="resume_sub3_sec3">
                <%-socialAccountsInfo[0].google%>
              </div>
              <div class="clearfix"></div>
              <% } %>
                <% if(socialAccountsInfo[0].facebooks!=undefined && socialAccountsInfo[0].facebooks) { %>
                  <div class="resume_sub_sec2"><img src="../../../../images/resume_facebook.png" width="20px"></div>
                  <div class="resume_sub3_sec3">
                    <%-socialAccountsInfo[0].facebooks%>
                  </div>
                  <div class="clearfix"></div>
                  <% } %>

                    <% if(socialAccountsInfo[0].twitter!=undefined && socialAccountsInfo[0].twitter) { %>
                      <div class="resume_sub_sec2"><img src="../../../../images/resume_twitter.png" width="20px"></div>
                      <div class="resume_sub3_sec3">
                        <%-socialAccountsInfo[0].twitter%>
                      </div>
                      <div class="clearfix"></div>
                      <% } %>
                        <% if(socialAccountsInfo[0].linkedIn!=undefined && socialAccountsInfo[0].linkedIn) { %>
                          <div class="resume_sub_sec2"><img src="../../../../images/linkedin.png" width="20px"></div>
                          <div class="resume_sub3_sec3">
                            <%-socialAccountsInfo[0].linkedIn%>
                          </div>
                          <% } %>

          </div>

        </div>
      </div>

    </div>
  </div>



  <div style="font-size:14px ;color:#222222; text-align: center;background:#fff;padding-bottom: 10px;">
    Designed with JIT Career's Resume Builder
  </div>

</div>