<div style="padding:30px 30px 0px 30px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#fff;">
    <tr>
      <td valign="top" style="font-size:14px ; text-align: left; color:#222222; padding:30px; font-weight:500;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="padding:0px 0px 00px 0px;  border-bottom:1px solid #000;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="30%" align="center" valign="bottom"
                    style="font-size:20px ; text-align: center; background:#f9f9f9; color:#222222; padding:25px 0px 25px 0px; font-weight:500;">
                    <% if(profileImageInfo[0]) { %>
                      <img width="166" height="166" style="border-radius: 50%;" src=<%=profileImage %>>
                      <%}%>
                  </td>
                  <td width="70%" valign="top" style="background:#f9f9f9;  padding:50px 15px 0px 0px; ">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td
                          style="font-size:60px ; text-align: left;  color:#222222; padding:0px 15px 0px 0px; font-weight:600;">
                          <%= candidateInfo[0].firstName %>
                            <%= candidateInfo[0].lastName %>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top"
                          style="font-size:25px ; text-align: left; color:#222222; padding:7px 15px 7px 0px; font-weight:400;">
                          <%= candidateInfo[0].positionApplyingFor %>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>

                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" style="padding:0px 0px 0px 0px;">

              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#fff;">
                <tr>
                  <td width="30%" valign="top"
                    style="background:#fff; padding:0px 30px 0px 0px; border-right:1px solid #000;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td valign="top">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2"
                                style="font-size:18px ; text-align: right; color:#222222; padding:25px 0px 20px 0px; font-weight:600; border-bottom:1px solid #000;">
                                Basic Information</td>
                            </tr>
                            <tr>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                                <%= candidateInfo[0].currentAddress1 %>
                              </td>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:600; line-height:20px;">
                                Current Address</td>
                            </tr>
                            <tr>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                                <%= candidateInfo[0].permanantAddress1 %>
                              </td>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:600; line-height:20px;">
                                Permanent Address</td>
                            </tr>
                            <tr>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                                <%= candidateInfo[0].dob %>
                              </td>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:600; line-height:20px;">
                                DOB</td>
                            </tr>
                            <tr>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                                <%= candidateInfo[0].genderTitle %>
                              </td>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:600; line-height:20px;">
                                Gender</td>
                            </tr>
                            <tr>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                                <%= candidateInfo[0].countryName %>
                              </td>
                              <td valign="top"
                                style="font-size:12px ; text-align: right;  color:#222222; padding:10px 0px 10px 0px; font-weight:600; line-height:20px;">
                                Country</td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                      <tr>
                        <td valign="top">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2"
                                style="font-size:18px ; text-align: right; color:#222222; padding:25px 0px 20px 25px; font-weight:600; border-bottom:1px solid #000;">
                                Contact</td>
                            </tr>
                            <tr>
                              <td width="75%"
                                style="font-size:14px ; text-align: right; color:#222222; padding:25px 0px 0px 0px; font-weight:600;">
                                Landline</td>
                              <td width="25%" rowspan="2"
                                style="font-size:14px ; text-align: right; color:#222222; padding:25px 0px 15px 25px; font-weight:600;">
                                <img src="../../../../images/resume_phones1.png">
                              </td>
                            </tr>
                            <tr>
                              <td
                                style="font-size:14px ; text-align: right; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                                <%= candidateInfo[0].telephoneNumber %>
                              </td>
                            </tr>

                            <tr>
                              <td width="75%"
                                style="font-size:14px ; text-align: right; color:#222222; padding:0px 0px 0px 0px; font-weight:600;">
                                Phone</td>
                              <td width="25%" rowspan="2"
                                style="font-size:14px ; text-align: right; color:#222222; padding:0px 0px 15px 25px; font-weight:500;">
                                <img src="../../../../images/resume_phone1.png">
                              </td>
                            </tr>
                            <tr>
                              <td
                                style="font-size:14px ; text-align: right; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                                <%= candidateInfo[0].phoneNumber %>
                              </td>
                            </tr>

                            <tr>
                              <td width="75%"
                                style="font-size:14px ; text-align: right; color:#222222; padding:0px 0px 0px 0px; font-weight:600;">
                                Email</td>
                              <td width="25%" rowspan="2"
                                style="font-size:14px ; text-align: right; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                                <img src="../../../../images/resume_mail1.png">
                              </td>
                            </tr>
                            <tr>
                              <td
                                style="font-size:14px ; text-align: right; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                                <%= candidateInfo[0].email %>
                              </td>
                            </tr>

                          </table>
                        </td>
                      </tr>

                      <tr>
                        <td valign="top">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2"
                                style="font-size:18px ; text-align: right; color:#222222; padding:25px 0px 20px 25px; font-weight:600; border-bottom:1px solid #000;">
                                Languages</td>
                            </tr>
                            <% for(var i=0; i < languageMapInfo.length; i +=1) { %>
                              <tr>
                                <td
                                  style="font-size:14px ; text-align: right; color:#222222; padding:25px 0px 10px 25px; font-weight:500;">
                                  <%-languageMapInfo[i].languageName%>
                                </td>

                              </tr>
                              <% } %>

                          </table>

                        </td>
                      </tr>

                      <tr>
                        <td valign="top">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2"
                                style="font-size:18px ; text-align: right; color:#222222; padding:25px 0px 20px 25px; font-weight:600; border-bottom:1px solid #000;">
                                Skills</td>
                            </tr>
                            <% for(var i=0; i < skillsInfo.length; i +=1) { %>
                              <%if(i%2==0) {%>
                                <tr>
                                  <% } %>
                                    <%if(((i+1)==skillsInfo.length) && ((i+1)%2!=0) ) {%>
                                      <td width="50%"
                                        style="font-size:14px ; text-align: right; color:#222222; padding:25px 0px 10px 25px; font-weight:500;">
                                      </td>
                                      <% } %>
                                        <td width="50%"
                                          style="font-size:14px ; text-align: right; color:#222222; padding:25px 0px 10px 25px; font-weight:500;">
                                          <%-skillsInfo[i].skillName%>
                                        </td>

                                        <%if((i+1)%2==0) {%>
                                </tr>
                                <% } %>
                                  <% } %>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                            <tr>
                              <td colspan="2"
                                style="font-size:18px ; text-align: right; color:#222222; padding:25px 0px 20px 25px; font-weight:600; border-bottom:1px solid #000;">
                                Training</td>
                            </tr>
                            <% for(var i=0; i < trainingInfo.length; i +=1) { %>
                              <%if(i%2==0) {%>
                                <tr>
                                  <% } %>
                                    <%if(((i+1)==trainingInfo.length) && ((i+1)%2!=0) ) {%>
                                      <td width="50%"
                                        style="font-size:14px ; text-align: right; color:#222222; padding:25px 0px 10px 25px; font-weight:500;">
                                      </td>
                                      <% } %>
                                        <td width="50%"
                                          style="font-size:14px ; text-align: right; color:#222222; padding:25px 0px 10px 25px; font-weight:500;">
                                          <%-trainingInfo[i].trainingCertificate%>

                                        </td>

                                        <%if((i+1)%2==0) {%>
                                </tr>
                                <% } %>
                                  <% } %>

                          </table>
                        </td>
                      </tr>

                    </table>

                  </td>

                  <td width="70%" valign="top"
                    style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 0px 30px; font-weight:500;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="padding:0px 0px 0px 0px;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"
                                style="font-size:20px ; text-align: left; color:#222222; padding:25px 15px 15px 0px; font-weight:500; border-bottom:1px solid #000;">
                                Personal Summary</td>
                            </tr>
                            <tr>
                              <td valign="top"
                                style="font-size:12px ; text-align: left;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                                <%=candidateInfo[0].profileSummary%>
                              </td>
                            </tr>

                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:0px 0px 30px 0px;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" valign="top"
                                style="font-size:20px ; text-align: left; color:#222222; padding:25px 15px 15px 0px; font-weight:500; border-bottom:1px solid #000;">
                                Education Background</td>
                            </tr>
                            <% for(var i=0; i < educationQualificationInfo.length; i +=1) { %>
                              <tr>
                                <td colspan="2" valign="top"
                                  style="font-size:12px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:500; line-height:20px;">
                                  Year <%-moment(educationQualificationInfo[i].dateTo, "DD/MM/YYYY" ).year()%>
                                </td>
                              </tr>
                              <tr>
                                <td valign="top"
                                  style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                  <img src="../../../../images/education_icon.png" width="33" height="24">
                                  <%-educationQualificationInfo[i].course%>
                                </td>
                                <td valign="top"
                                  style="font-size:15px ; text-align:  right;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                  <%-educationQualificationInfo[i].university%> <img
                                      src="../../../../images/univercity_icon.png">
                                </td>
                              </tr>

                              <%}%>



                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:0px 0px 15px 0px;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td valign="top"
                                style="font-size:20px ; text-align: left; color:#222222; padding:0px 15px 15px 0px; font-weight:500; border-bottom:1px solid #000;">
                                Work Experience</td>
                            </tr>
                            <% for(var i=0; i < experienceInfo.length; i +=1) { %>
                              <tr>
                                <td valign="top"
                                  style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                  <%-experienceInfo[i].jobRole%>
                                </td>
                              </tr>
                              <tr>
                                <td valign="top"
                                  style="font-size:12px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:500; line-height:20px;">
                                  <%-experienceInfo[i].employerName%> | <%-experienceInfo[i].fromDate%> -
                                      <% if(experienceInfo[i].currentlyWorkHereFlag==true) {%> Present
                                        <%} else {%>
                                          <%-experienceInfo[i].toDate%>
                                            <%}%>
                                </td>
                              </tr>
                              <tr>
                                <td valign="top"
                                  style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                  Responsibilities </td>
                              </tr>
                              <tr>
                                <td valign="top"
                                  style="font-size:12px ; text-align: left;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                                  <%-experienceInfo[i].responsibilities%>
                                </td>
                              </tr>
                              <tr>
                                <td valign="top"
                                  style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                  Achievements </td>
                              </tr>
                              <tr>
                                <td valign="top"
                                  style="font-size:12px ; text-align: left;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                                  <%-experienceInfo[i].achievements%>
                                </td>
                              </tr>
                              <% } %>
                          </table>
                        </td>
                      </tr>
                      <% if(socialAccountsInfo.length>0) { %>
                        <tr>
                          <td style="padding:0px 0px 15px 0px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="4" valign="top"
                                  style="font-size:20px ; text-align: left; color:#222222; padding:0px 15px 15px 0px; font-weight:500; border-bottom:1px solid #000;">
                                  Social Media</td>
                              </tr>
                              <tr>
                                <%var s=0%>
                                  <% if(socialAccountsInfo[0].google) { s=s + 1; %>
                                    <td width="50%" valign="top"
                                      style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr rowspan="2">
                                          <td width="25%"
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:600;">
                                            <img src="../../../../images/google.png" width="25px">
                                            <!-- resume_facebook.png -->
                                          </td>
                                          <td width="75%"
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:600;">
                                            <%-socialAccountsInfo[0].google%>
                                          </td>
                                        </tr>

                                        <tr>
                                          <td
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">

                                          </td>
                                        </tr>

                                      </table>
                                    </td>
                                    <%}%>

                                      <% if(socialAccountsInfo[0].twitter) { s=s + 1; %>
                                        <td width="50%" valign="top"
                                          style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr rowspan="2">
                                              <td width="25%"
                                                style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:600;">
                                                <img src="../../../../images/resume_twitter.png" width="20px">
                                              </td>
                                              <td width="75%"
                                                style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:600;">
                                                <%-socialAccountsInfo[0].twitter%>
                                              </td>

                                            </tr>
                                            <tr>
                                              <td
                                                style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">

                                              </td>
                                            </tr>

                                          </table>
                                        </td>
                                        <% } %>
                                          <%if((s)%2==0) {%>
                              </tr>
                              <tr>
                                <% } %>
                                  <% if(socialAccountsInfo[0].facebooks) { s=s + 1; %>
                                    <td width="50%" valign="top"
                                      style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr rowspan="2">
                                          <td width="25%"
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:600;">
                                            <img src="../../../../images/resume_facebook.png" width="20px">
                                            <!-- .png -->
                                          </td>
                                          <td width="75%"
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:600;">
                                            <%-socialAccountsInfo[0].facebooks%>
                                          </td>
                                        </tr>

                                        <tr>
                                          <td
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">

                                          </td>
                                        </tr>

                                      </table>
                                    </td>
                                    <% } %>
                                      <%if((s)%2==0) {%>
                              </tr>
                              <tr>
                                <% } %>
                                  <% if(socialAccountsInfo[0].linkedIn) { s=s + 1; %>
                                    <td width="50%" valign="top"
                                      style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr rowspan="2">
                                          <td width="25%"
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:600;">
                                            <img src="../../../../images/linkedin.png" width="20px">
                                            <!-- resume_facebook.png -->
                                          </td>
                                          <td width="75%"
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:600;">
                                            <%-socialAccountsInfo[0].linkedIn%>
                                          </td>
                                        </tr>

                                        <tr>
                                          <td
                                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">

                                          </td>
                                        </tr>

                                      </table>
                                    </td>
                                    <% } %>
                                      <%if((s)%2==0) {%>
                              </tr>
                              <tr>
                                <% } %>
                                  <% for(var i=s; i < 4; i +=1) { %>
                                    <td width="50%" valign="top"
                                      style="font-size:15px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                      &nbsp;</td>
                                    <% } %>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <% } %>
                          <tr>
                            <td> </td>
                          </tr>
                          <tr>
                            <td>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td colspan="2" valign="top"
                                    style="font-size:20px ; text-align: left; color:#222222; padding:0px 15px 15px 0px; font-weight:500; border-bottom:1px solid #000;">
                                    Declaration</td>
                                </tr>
                                <tr>
                                  <td colspan="2" valign="top"
                                    style="font-size:14px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:500; line-height:20px;">
                                    I hereby declare that the information provided is true and correct. I also
                                    understand that any willful dishonesty may render for refusal of this application.
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25%" valign="top"
                                    style="font-size:14px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:500; line-height:20px;">
                                    &nbsp;</td>
                                  <td valign="top"
                                    style="font-size:15px ; text-align: right  ;  color:#222222; padding:10px 0px 0px 0px; font-weight:600; line-height:20px;">
                                    &nbsp;</td>
                                </tr>
                                <tr>
                                  <td valign="top"
                                    style="font-size:14px ; text-align: left;  color:#222222; padding:10px 0px 0px 0px; font-weight:500; line-height:20px;">
                                    Date :<%= moment().format("DD/MM/YYYY")%>
                                  <td valign="top"
                                    style="font-size:15px ; text-align: right  ;  color:#222222; padding:10px 0px 0px 0px; font-weight:500; line-height:20px;">
                                    Signature</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                    </table>
                  </td>
              </table>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <div style="font-size:14px ;color:#222222; text-align: center;background:#fff;padding-bottom: 10px;">
    Designed with JIT Career's Resume Builder
  </div>
</div>
<!--=================Content Section End================-->