._cursor-pointer {
  cursor: pointer !important;
}

._cursor-no-drop {
  cursor: no-drop !important;
}

._react-select-language>.select__control {
  border: 0px solid #c9e1e5 !important;
  border: 1px solid #dde6ef !important;
  background: url(../images/dropdown_sec.png) #fcfdff no-repeat right center !important;
  cursor: pointer !important;
  border-radius: 0px !important;
}

._react-select-language>.select__control>.select__value-container>.select__placeholder {
  margin-left: 7px !important;
}

/* ._react-select-language .select--is-disabled {
  cursor: no-drop !important;
  color: #fcfdff !important;
} */

._attach-training {
  width: 775px;
  margin: 40px auto 0px auto;
}

._twitter-login-button {
  display: inline-block;
}

._add-experience-checkbox {
  display: inline-block !important;
  width: 21px !important;
  height: 21px !important;
  margin: 0.25em 0.5em 0.25em 0px !important;
  border: 2px solid #dfdfdf !important;
  border-radius: 6px !important;
  background: none !important;
  vertical-align: bottom !important;
  background: #fafafb !important;
}

/* spinner */

._ajax-spinner-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
  z-index: 9999999 !important;
}

@-webkit-keyframes _ajax-spinner-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes _ajax-spinner-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes _ajax-spinner-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes _ajax-spinner-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes _ajax-spinner-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes _ajax-spinner-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes _ajax-spinner-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes _ajax-spinner-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

._ajax-spinner-css {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
}

._ajax-spinner-css>div {
  position: absolute;
  display: block;
  width: 90px;
  height: 90px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #ffffff;
  -ms-animation: _ajax-spinner-anim 1s linear infinite;
  -moz-animation: _ajax-spinner-anim 1s linear infinite;
  -webkit-animation: _ajax-spinner-anim 1s linear infinite;
  -o-animation: _ajax-spinner-anim 1s linear infinite;
  animation: _ajax-spinner-anim 1s linear infinite;
}

/* spinner */

/* ._add-experience-checkbox::before {
  background: #17a937 !important;
  border: 2px solid #17a937 !important;
  display: inline-block !important;
  width: 21px !important;
  height: 21px !important;
  margin: 0.25em 0.5em 0.25em 0px !important;
  border-radius: 6px !important;
  vertical-align: bottom !important;
} */

._add-experience-checkbox::before {
  background: #17a937 !important;
  border: 2px solid #17a937 !important;
  width: 21px !important;
  height: 21px !important;
  margin: -2px 0px 0px -2px !important;
  border-radius: 6px !important;
}

._disabled {
  cursor: not-allowed;
}

._custom-infinite-scroll-class::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
  background-color: #F5F5F5;
}

._custom-infinite-scroll-class::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

._custom-infinite-scroll-class::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: rgb(66, 66, 66);
}

._custom-infinite-scroll-class::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: rgb(66, 66, 66);
  height: 140px;
}

._cursor-url {
  cursor: url(./../images/click_edit.svg), auto !important;
}