.example {
  margin-bottom: 1.5em;
}

input[type="checkbox"]:not(old),
input[type="radio"]:not(old) {
  margin: 0px 0px 0px 15px;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

input[type="checkbox"]:not(old) + label,
input[type="radio"]:not(old) + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 31px;
  color: #888888;
  font-size: 12px !important;
  font-weight: 600;
}

input[type="checkbox"]:not(old) + label > span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0.25em 0.5em 0.25em 0px;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  background: none;
  vertical-align: bottom;
}

input[type="radio"]:not(old) + label > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 2px solid #17ca13;
  border-radius: 50%;
  background: none;
  vertical-align: bottom;
}

input[type="checkbox"]:not(old):checked + label > span,
input[type="radio"]:not(old):checked + label > span {
  background: #17a937;
  border: 2px solid #17a937;
}

input[type="checkbox"]:not(old):checked + label > span:before {
  content: "✓";
  display: block;
  width: 1em;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}

input[type="radio"]:not(old):checked + label > span > span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #90ee90;
  border-radius: 50%;
  background: #17ca13;
  background-image: -moz-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -webkit-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}

@media only screen and (max-width: 767px) {
  input[type="checkbox"]:not(old) + label,
  input[type="radio"]:not(old) + label {
    font-size: 11px !important;
  }
}

.example {
  margin-bottom: 1.5em;
}

.content-wrapper input[type="checkbox"]:not(old),
.content-wrapper input[type="radio"]:not(old) {
  margin: 0px 0px 0px 15px;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

.content-wrapper input[type="checkbox"]:not(old) + label,
.content-wrapper input[type="radio"]:not(old) + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 31px;
  color: #888888;
  font-size: 16px !important;
  font-weight: 500;
}

.content-wrapper input[type="checkbox"]:not(old) + label > span {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0.25em 0.5em 0.25em 0px;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  background: none;
  vertical-align: bottom;
  background: #fafafb;
}

.content-wrapper input[type="radio"]:not(old) + label > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 2px solid #17ca13;
  border-radius: 50%;
  background: none;
  vertical-align: bottom;
}

.content-wrapper input[type="checkbox"]:not(old):checked + label > span,
.content-wrapper input[type="radio"]:not(old):checked + label > span {
  background: #17a937;
  border: 2px solid #17a937;
}

.content-wrapper input[type="checkbox"]:not(old):checked + label > span:before {
  content: "✓";
  display: block;
  width: 1em;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}

.content-wrapper input[type="radio"]:not(old):checked + label > span > span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #90ee90;
  border-radius: 50%;
  background: #17ca13;
  background-image: -moz-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -webkit-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}

@media only screen and (max-width: 767px) {
  .content-wrapper input[type="checkbox"]:not(old) + label,
  input[type="radio"]:not(old) + label {
    font-size: 11px !important;
  }
}
