.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CustomButtonCss {
  margin: 2px 0px 0px 0px;
  padding: 8px 20px 8px 20px;
  color: #fff;
  font-size: 16px;
  text-transform: none;
  font-weight: bold;
  border-radius: 8px;
  border: 0px solid #ff8f39;
  background: #11b719;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.search button:hover {
  color: #fff;
  background: #17ca13;
}

.create_job_alert_button {
  margin: 15px 0px 0px 0px;
  padding: 8px 20px 8px 20px;
  color: #fff;
  font-size: 14px;
  text-transform: none;
  font-weight: bold;
  border-radius: 4px;
  border: 0px solid #ff8f39;
  background: #4b56c0;
  display: inline-block;
  text-align: center;
}

.create_job_alert_btn button:hover {
  color: #fff;
  background: #17ca13;
}

/* .next {
  background-color: rgb(255, 255, 255) !important;
  color: #fff !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

.previous {
  background-color: rgb(255, 255, 255) !important;
  color: #fff !important;
  border: 1px solid rgb(255, 255, 255) !important;
} */
.previous {
  background-color: rgb(241, 243, 245) !important;
  color: #fff !important;
  border: 1px solid rgb(255, 255, 255);
}
.next {
  background-color: rgb(241, 243, 245) !important;
  color: #fff !important;
  border: 1px solid rgb(241, 243, 245);
}

.update_now button {
  margin: 0px;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  color: #09f;
  text-align: center;
  background: #f5f5f5;
  line-height: 25px;
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  font-weight: 600;
  text-transform: none;
  font-weight: bold;
}

.jobs_apply1Btn1 {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.update_now b {
  margin: 0px;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  color: #09f;
  text-align: center;
  background: #f5f5f5;
  line-height: 25px;
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  font-weight: 600;
  text-transform: none;
}
.update_now button:hover {
  background: #09f;
  color: #fff;
}

.required:after {
  content: " *";
  color: red;
  /* float: left;
  padding-right: 3px; */
  padding-left: 3px;
}

.register_validation1 {
  font-size: 12px;
  color: #f00;
  position: relative;
}

.AddDocumentButton {
  color: #2d2d2d;
  font-size: 16px;
  text-align: left;
  margin: 0;
  font-weight: 600;
  line-height: 25px;
  float: left;
  background-color: white;
  border: none;
}

.pg-viewer-wrapper {
  overflow-y: unset !important;
}

.photo-viewer-container {
  width: unset !important;
  height: unset !important;
}

.photo-viewer-container > img {
   width: unset !important; 
  height: unset !important;
  margin-top: 150px;
} 
.pg-viewer-wrapper img {
  width: 40% !important;
}